@import "tailwindcss";

@font-face {
    font-family: 'Vela Sans';
    src: url('/fonts/VelaSans/VelaSans-Regular.woff2') format('woff2'),
        url('/fonts/VelaSans/VelaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}